**/*.*.local
**/.DS_Store
**/*.env*
**/*.gz
**/*.log
**/*.sql.gz

/.dockerignore
/.editorconfig
/.eslintignore
/.git
/.gitattributes
/.gitignore

/build

/ci/**/Dockerfile

/docker-compose.yml
/docker-compose*

/node_modules

/jenkins-tmp
/Jenkinsfile*

/Procfile*

/README.md

/scripts

/VERSION
